node_modules/
web/node_modules/
mobile/node_modules/
backend/node_modules/
__pycache__/
*.pyc
.env
.venv
venv/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

.vercel
